
body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.box {
  width: 100%;
  height: 100%;
/*   padding: 20px;
 *//*   border: 5px dashed cadetblue;
 */  background-image: url(./image0001.jpg);
/*   background-origin: border-box;
 */  background-repeat: no-repeat;
  background-color: coral;
/*     background-position: left -560px top -510px; */
background-size: cover;
}

.title {
  margin: 0;
  font-size: 20px;
  padding: 100px 0px 50px 300px ;
  font-size: 40px;
  line-height: 150%;
  color: ghostwhite;
}

.defil {
  width: 300px;
  height: 350px;
  position: relative;
  left: 50px;
  overflow: scroll;
}

.collant {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: sticky;
  top: 25px;
  left: 50px;
}

.shortTxt, .longTxt {
  color: bisque;
}